@using App.Domain.Core.Product.Dtos

@model ProductDto

@{
	ViewData["Title"] = "حذف محصول";
}

<h3>حذف محصول</h3>
<form>


<div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" disabled>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" disabled>
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input class="form-control" asp-for="Count" disabled>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" disabled>
    </div>

	<div style="float:left; margin-top:5px;">
		<button type="submit" class="btn btn-primary"  asp-action="DeleteProductModel" asp-route-id="@Model.Id" formmethod="post">حذف</button>
		<button type="submit" class="btn btn-danger" asp-action="Index">انصراف</button>
	</div>

</form>