@using App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product
@model ProductOutputViewModel

@{
    ViewData["Title"] = "ویرایش محصول ";
}

<h3>ویرایش محصول </h3>
<form>

   <div class="form-group">
		<label asp-for="Id"></label>
		<input class="form-control" asp-for="Id" disabled>
	</div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input class="form-control" asp-for="Count">
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="form-group">
        <label asp-for="Weight"></label>
        <input class="form-control" asp-for="Weight">
    </div>

    <div class="form-group row p-3">
        <div class="col-4">
            <label asp-for="BrandId">Brand</label>
        </div>
        <div class="col-8">
            <select asp-for="BrandId" class="form-control" asp-items="@ViewBag.Brands">
                <option disabled selected>-- Select Brand --</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group row p-3">
        <div class="col-4">
            <label asp-for="CategoryId">Category</label>
        </div>
        <div class="col-8">
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                <option disabled selected>-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

            <div class="form-group row p-3">
        <div class="col-4">
            <label asp-for="ProductModelId">ProductModel</label>
        </div>
        <div class="col-8">
            <select asp-for="ProductModelId" class="form-control" asp-items="@ViewBag.Models">
                <option disabled selected>-- Select ProductModel --</option>
            </select>
            <span asp-validation-for="ProductModelId" class="text-danger"></span>
        </div>
    </div>

    <div style="float:left; margin-top:5px;">
        <button type="submit" class="btn btn-primary" asp-action="Update" formmethod="post">ویرایش</button>
        <button type="submit" class="btn btn-danger" asp-action="Index">انصراف</button>
    </div>

</form>