@model OperatorInputViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Model" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for=Name></label>
                <input type="text" class="form-control" asp-for=Name>
            </div>
            <button type="submit" class="btn btn-primary">ویرایش</button>
        </form>
    </div>
</div>


