
    <!--====================  newsletter area ====================-->
    <div class="newsletter-area section-space--inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 offset-lg-2">
                    <div class="newsletter-wrapper">
                        <p class="small-text">تخفیف های ویژه برای اعضای خبرنامه</p>
                        <h3 class="title">ده درصد تخفیف برای اعضا</h3>
                        <p class="short-desc">جهت اطلاع از آخرین محصولات و قیمت ها و دریافت کد های تخفیف در خبرنامه عضو شوید</p>

                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input type="email" placeholder="پست الکترونیکی خود را وارد نمایید" required>
                                <button type="submit" value="submit">عضویت</button>
                            </form>

                        </div>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of newsletter area  ====================-->