@model CategoryInputViewModel
<div class="row">
    <div class="col-4">
        <form asp-controller="Category" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for=Name></label>
                <input type="text" class="form-control" asp-for=Name>
            </div>
            <hr />
            <div class="form-group">
                
            </div>
            <hr />
            <div class="form-group">
                <label asp-for=DisplayOrder></label>
                <input type="number" class="form-control" asp-for=DisplayOrder>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for=ParentCagetoryId></label>
                <input type="number" class="form-control" asp-for=ParentCagetoryId>
            </div>
            <hr />
            <br />
            <button type="submit" class="btn btn-primary">ایجاد</button>
        </form>
    </div>
</div>


