@{
    ViewData["Title"] = "Home Page";
}
@*
<partial name="_CategoryList" />*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome</h1>
</div>
