@model ColorOutputViewModel

<table class="table table-hover table-striped">
    <tr>
        <th>شناسه</th>
        <th>نام</th>
        <th>کد</th>
        <th>تاریخ ایجاد</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Code</td>
        <td>@Model.CreationDate.ToShortDateString()</td>
    </tr>
</table>
<br>
<br>
<a type="button" class="btn btn-danger" style="margin-top:8px" asp-action="Index" asp-controller="Color">بازگشت</a>
