@model ColorViewModel

<form method="post" asp-controller="Colors" asp-action="SubmitCreatedColor">
    <label asp-for="Id">Id:</label><br>
    <input type="text" asp-for="Id" readonly><br>

    <label asp-for="Name">Name:</label><br>
    <input type="text" asp-for="Name"><br>

    <label asp-for="Code">Code:</label><br>
    <input type="text" asp-for="Code"><br>

    <input type="submit" class="btn btn-primary" value="Submit">
</form>