@model App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product.ColorInputViewModel
@{
    ViewData["Title"] = "افزودن رنگ";
}

<div class="col-6 m-auto">
    <form method="post" asp-controller="Colors" asp-action="SubmitCreatedColor">
    
        <label asp-for="Name"></label><br>
        <input class="form-control" asp-for="Name"><br>

        <label asp-for="ColorCode"></label><br>
        <input type="color" class="form-control form-control-color m-auto w-50 h-75" asp-for="ColorCode"><br>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>