@using App.Domain.Core.BaseData.Dtos
@model ColorDTO 

<form method="post" asp-controller="Colors" asp-action="DeleteColor">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Id" class="form-control" />
                        
                    </div>
                </div>
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Name" class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Code"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Code" class="form-control" />
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="CreationDate"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="CreationDate" class="form-control" />
                    </div>
                </div>


                <div class="form-group row p-3">
                    <div class="col-8 offset-4 row">
                        <input type="submit"  value="Delete" class="btn btn-primary w-100" />

                        <div class="col">
                        </div>
                        <div class="col">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-success"><i class="fas fa-sign-out-alt"></i>Index</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
<script>
</script>
}