
@model ColorViewModel

<html>

    <head>
        <style>
            body {
                direction: rtl;
            }

            th {
                border-bottom: 2px solid black;
                border-collapse: collapse;
            }

            th, tr, td {
                padding: 4px;
                min-width: 100px;
            }
        </style>
    </head>

    <body>
        <table>
            <tr>
                <th>شناسه</th>
                <th>نام</th>
                <th>تاریخ ایجاد</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Code</td>
                <td>@Model.CreationDate.ToShortDateString()</td>
            </tr>
        </table>
        <br><br>
        <a type="button" class="btn btn-danger" style="margin-bottom:8px" asp-action="Back" asp-controller="Colors">بازگشت</a>
    </body>

</html>