@model App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product.ColorOutputViewModel
<table class="table">
    <tr>
        <th>شناسه</th>
        <th>نام</th>
        <th>کد رنگی</th>
        <th>تاریخ ایجاد</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.ColorCode</td>
        <td>@Model.CreationDate.ToShortDateString()</td>
    </tr>
</table>
<br><br>
<a type="button" class="btn btn-danger" style="margin-bottom: 8px" asp-action="Index" asp-controller="Colors">بازگشت</a>