@model App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product.BrandInputViewModel

@{
	ViewData["Title"] = "اضافه کردن برند جدید";
}

<h3>اضافه کردن برند جدید</h3>
<form>

	<div class="form-group">
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name">
	</div>

	<div class="form-group">
		<label asp-for="DisplayOrder"></label>
		<input class="form-control" asp-for="DisplayOrder">
	</div>

	<div style="float:left; margin-top:5px;">
		<button type="submit" class="btn btn-primary" asp-action="Create" formmethod="post">ایجاد</button>
		<button type="submit" class="btn btn-danger" asp-action="Index">انصراف</button>
	</div>

</form>