@using App.Domain.Core.Product.Entities

@model Product

<form method="post" asp-controller="Product" asp-action="DeletePost">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Product</h2>
        </div>


        <div class="row">
            <div class="col-8">
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Name" class="form-control" />
                        
                    </div>

                </div>


                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select  asp-for="CategoryId"  class="form-control">
                            <option disabled selected>-- Select Category --</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="BrandId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="BrandId"  class="form-control">
                            <option disabled selected>-- Select Brand --</option>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Weight"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Weight" class="form-control" />
                        
                    </div>

                </div>
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea readonly asp-for="Description" class="form-control summernote"></textarea>
                        
                    </div>

                </div>

                @*IsOriginal*@
                @*IsActive*@
                @*IsDeleted*@

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Count"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Count" class="form-control" />
                        
                    </div>

                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="ModelId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ModelId"  class="form-control">
                            <option disabled selected>-- Select Model --</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Price" class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="OperatorId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="OperatorId"  class="form-control">
                            <option disabled selected>-- Select Operator --</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="ProductColors"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ProductColors"  class="form-control">
                            <option disabled selected>-- Select Color --</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="ProductTags"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ProductTags"  class="form-control">
                            <option disabled selected>-- Select Color --</option>
                        </select>
                        
                    </div>
                </div>

               
                <div class="form-group row p-3">
                    <div class="col-8 offset-4 row">
                        <input type="submit"  value="Delete" class="btn btn-primary w-100" />

                        <div class="col">
                        </div>
                        <div class="col">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-success"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
<script>
</script>
}