@model BrandOutputViewModel

@{
	
}

<h3>ویرایش برند</h3>
<form asp-action="Update" method="post">

	<div class="form-group">
		<label asp-for="Id"></label>
		<input class="form-control" asp-for="Id" disabled>
	</div>

	<div class="form-group">
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name">
	</div>

	<div class="form-group">
		<label asp-for="DisplayOrder"></label>
		<input class="form-control" asp-for="DisplayOrder">
	</div>

	<div style="float:left; margin-top:5px;">
		<button type="submit" class="btn btn-primary">ویرایش</button>
		<button type="submit" class="btn btn-danger" asp-action="Index">انصراف</button>
	</div>

</form>